* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

#fundo {
    background-image: linear-gradient(#36454F, #fff599, #fff599, #36454F);
    height: 99vh;
    margin: 0;
    padding: 0;
}

#fundo>ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: 40vh;
    font-size: x-large;
}

#Projects {
    font-size: xx-large;
    color: lightgrey;
}

#pedra {
    background-image: url(juliette-paez-tobar-YOqYqrQfjKM-unsplash.jpg);
    height: 20px;
    border-color: #DAA520;
    border-width: 2px;
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
}

#pedra02 {
    background-image: url(juliette-paez-tobar-YOqYqrQfjKM-unsplash.jpg);
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-color: #DAA520;
    left: 0;
}

body {
    border-left: solid #DAA520;
    border-right: solid #DAA520;
    border-bottom: solid #DAA520;
    border-width: 2px;
}

#sublinha {
    border: #DAA520;
    border-bottom: 12px;
}

a {
    color: lightgrey;
}

@media (max-width: 375px) {
    header {
        font-size: 16px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
}

.grid-container {
    display: inline-grid;
    gap: 50px 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    row-gap: 3vh;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    color: white;
}

.grid-item {
    position: relative;
}

.grid-item::after {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 3px;
    background-image: linear-gradient(90deg, #FFD700, #FF8C00);
    top: 102%;
    left: 0;


}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: 40vh;
    font-size: x-large;
}


p {
    text-align: center;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a {
    color: #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a:hover {
    color: #fdec6e;
    text-shadow: 0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#Home {
    position: relative;
}


#Home::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-left: outset 1px #daa520;
    border-top: outset 1px #daa520;
    left: 0;
    transition: 0.5s;
    top: 0;

}

#Home::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    transition: 0.5s;
    border-right: outset 1px #daa520;
    border-bottom: outset 1px #daa520;
    right: 0;
    bottom: 0;


}

#Home:hover::before {
    width: 100%;
    height: 100%;
}

#Home:hover::after {
    width: 100%;
    height: 100%;
}



#Projects {
    position: relative;
}


#Projects::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-left: outset 1px #daa520;
    border-top: outset 1px #daa520;
    left: 0;
    transition: 0.5s;
    top: 0;

}

#Projects::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    transition: 0.5s;
    border-right: outset 1px #daa520;
    border-bottom: outset 1px #daa520;
    right: 0;
    bottom: 0;


}

#Projects:hover::before {
    width: 100%;
    height: 100%;
}

#Projects:hover::after {
    width: 100%;
    height: 100%;
}

#Skills {
    position: relative;
}


#Skills::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-left: outset 1px #daa520;
    border-top: outset 1px #daa520;
    left: 0;
    transition: 0.5s;
    top: 0;

}

#Skills::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    transition: 0.5s;
    border-right: outset 1px #daa520;
    border-bottom: outset 1px #daa520;
    right: 0;
    bottom: 0;


}

#Skills:hover::before {
    width: 100%;
    height: 100%;
}

#Skills:hover::after {
    width: 100%;
    height: 100%;
}

#Contact {
    position: relative;
}


#Contact::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-left: outset 1px #daa520;
    border-top: outset 1px #daa520;
    left: 0;
    transition: 0.5s;
    top: 0;

}

#Contact::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    transition: 0.5s;
    border-right: outset 1px #daa520;
    border-bottom: outset 1px #daa520;
    right: 0;
    bottom: 0;


}

#Contact:hover::before {
    width: 100%;
    height: 100%;
}

#Contact:hover::after {
    width: 100%;
    height: 100%;
}

.gradient-border{
    position: fixed;
    z-index: -99;
}

footer {
    background-color: #36454F;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    margin: 0;
    position: absolute;
    top: 90%;
    width: 100%;
    height: 100px;
    right: 0;
    left: 50%;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Poppins", sans-serif;
    z-index: 1;
    font-style: italic;
}

ul{
font-size: medium;
align-items: center;
}
